@model IEnumerable<Restaurant.Models.ApplicationUser>
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> userManager
@inject RoleManager<IdentityRole> roleManager
@{
    ViewData["Title"] = "Index";
}


<p>
    <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Register">Register New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Role
            </th>
            <th>
                User Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var user = userManager.Users.FirstOrDefault(x => x.UserName == item.UserName);
            var user2 = await userManager.GetRolesAsync(user);
            <tr>
                @{
                    if (user2.Count() > 0)
                    {
                        foreach (var user4 in user2)
                        {

                            <td>@user4</td>
                        }
                    }
                    else
                    {
                        <td>Not-Set</td>
                    }
                }

                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) | 
                    @Html.ActionLink("SetNewPassword", "SetNewPassword", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
