@model Restaurant.Models.ApplicationUser

@{
    ViewData["Title"] = "SetNewPassword";

}

<h1>Set New Password For <span class="text-success">@Model.FirstName @Model.LastName</span> :</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="SetNewPassword">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label>New Password</label>
                <input name="password" type="text" class="form-control" />
                <span class="text-danger">@ViewBag.ErrorMessage</span>
            </div>
            <button type="submit" class="btn btn-primary">Set password</button>
        </form>
    </div>
</div>