@model Restaurant.Models.Drink

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Drink</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DrinkId" />
            <div class="form-group">
                <label asp-for="DrinkName" class="control-label"></label>
                <span>(if more then a word use '-' ex: Soft-Drink )</span>
                <input asp-for="DrinkName" class="form-control" />
                <span asp-validation-for="DrinkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrinkImage" class="control-label"></label>
                <input asp-for="DrinkImage" type="file" class="form-control-file" />
                <span asp-validation-for="DrinkImage" class="text-danger"></span>
            </div>
            <div>
                @{
                    try
                    {
                        var base64 = Convert.ToBase64String(Model.DrinkImage);
                        var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src='@imgSrc' style="max-width:500px;max-height:500px" />
                    }
                    catch (Exception)
                    {


                    }

                }
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

