@model Restaurant.Models.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Reservation</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="People" class="control-label"></label>
                <input asp-for="People" class="form-control" min="2" max="6" placeholder="2-6 Max" />
                <span asp-validation-for="People" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmationName" class="control-label"></label>
                <input asp-for="ConfirmationName" class="form-control" />
                <span asp-validation-for="ConfirmationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmationPhone" class="control-label"></label>
                <input asp-for="ConfirmationPhone" class="form-control" />
                <span asp-validation-for="ConfirmationPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                <p class="text-danger">@ViewBag.ErrorMessage</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

