

@{
    ViewData["Title"] = "Kitchen";
}

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item m-1">
        <a class="btn btn-info ml-1" asp-area="" asp-controller="Kitchen" asp-action="Index">Current Orders</a>
    </li>
    <li class="nav-item m-1">
        <a class="btn btn-info ml-1" asp-area="" asp-controller="Kitchen" asp-action="FoodMenu">Food-Menu</a>
    </li>
</ul>