@model Restaurant.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Event</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
                <p class="text-danger">@ViewBag.ErrorMessage</p>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ReservationRequired" /> @Html.DisplayNameFor(model => model.ReservationRequired)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EventImage" class="control-label"></label>
                <input asp-for="EventImage" class="form-control-file" type="file" />
                <span asp-validation-for="EventImage" class="text-danger"></span>
            </div>
            <div>
                @{
                    try
                    {
                        var base64 = Convert.ToBase64String(Model.EventImage);
                        var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src='@imgSrc' style="max-width:500px;max-height:500px" />
                    }
                    catch (Exception)
                    {


                    }

                }
            </div>
            <div class="form-group m-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

