@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager


@{
    ViewData["Title"] = "ManageRoles";
}

<h1 class="">@ViewBag.RoleName Role</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Current Users Names
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{ 
            try
            {
                IdentityRole role = ViewBag.RoleName;
                var users = await userManager.GetUsersInRoleAsync(role.Name);
                if (users != null)
                {
                    foreach (var user in users)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => user.UserName)
                            </td>

                            <td>
                                @Html.ActionLink("Remove", "ManageUserRoles", new { roleName = role, userName = user })
                            </td>
                        </tr>
                    }
                }
            }
            catch (Exception) { }


        }


    </tbody>
</table>

<div class="mt-5">
    <a class="btn btn-primary" asp-action="Index">Back</a>
</div>